 <!-- About Section -->
		<section class="success" id="about">
				<div class="container">
						<div class="row">
								<div class="col-lg-12 text-center">
										<h2>About</h2>
										<hr class="star-light noBorder">
								</div>
						</div>
						<div class="row">
								<div class="col-lg-4 col-lg-offset-2">
										<p>
											Easy-going, polite (no doubt Canadian) with over 6 years of professional
											development/design experience between startups and freelancing.
										</p>
								</div>
								<div class="col-lg-4">
									<div class="row">
											<div class="col-lg-6">
												<ul>
													<li>Javascript ES5+</li>
													<li>SASS, LESS, Styl</li>
													<li>Bootstrap, M.UI</li>
													<li>Photoshop, Ill.
													<li>Grunt, Webpack</li>
													<li>Ruby, PHP</li>
												</ul>
											</div>
											<div class="col-lg-6">
												<ul>
													<li>Node.js</li>
													<li>Meteor</li>
													<li>Google Analytics</li>
													<li>React, Angular</li>
													<li>Flux / Redux</li>
													<li>Version Control</li>
												</ul>
											</div>
										</div>
								</div>
								<div class="col-lg-8 col-lg-offset-2 text-center">
										<br>
									<p style="font-weight:300">
											Think we might be a match?
											<br>
									</p>

									<a class="btn btn-lg btn-outline" href="http://linkedin.com/in/applebya" target="_blank"
									onclick="ga('send', 'event', 'Click', 'CTA', 'LinkedIn');">
											<!-- <i class="fa fa-linkedin"></i> -->
											<!-- &nbsp;&nbsp; -->
											Connect on LinkedIn
									</a>
								</div>
						</div>
				</div>
		</section>