 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light noBorder">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Easy-going, polite (no doubt Canadian) with over 10 years of professional
                        development/design experience between freelancing and startups.
                    </p>
                </div>
                <div class="col-lg-4">
                  <div class="row">
                    	<div class="col-lg-6">
	                      <ul>
	                          <li>Javascript (ES6)</li>
	                          <li>Coffeescript</li>
	                          <li>SASS, LESS, Styl</li>
	                          <li>Grunt, Webpack</li>
	                          <li>Ruby, PHP</li>
	                      </ul>
                    	</div>
                    	<div class="col-lg-6">
	                      <ul>
                      		<li>Node.js</li>
                      		<li>Meteor (MEAN)</li>
                            <li>React, Angular</li>
                            <li>Flux / Redux</li>
                            <li>Version Control</li>
	                      </ul>
                    	</div>
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <br>
                	<p style="font-weight:300">
                        Think we might be a match?
                        <br>
                    </p>

                  <a href="#" class="btn btn-lg btn-outline">
                      <i class="fa fa-download" href="./andrew-appleby-resume2016.pdf"></i>&nbsp;&nbsp;Get That Resumé
                  </a>
                </div>
            </div>
        </div>
    </section>