 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        I bring a polite, professional [Canadian] attitude to my work, with 10 years of professional design/programming experience from startups &amp; freelancing.<br>
                    </p>
                </div>
                <div class="col-lg-4">
                  <div class="row">
                    	<div class="col-lg-6">
	                      <ul>
	                          <li>Javascript (ES6)</li>
	                          <li>Coffeescript</li>
	                          <li>CSS3, SASS, LESS,</li>
	                          <li>Grunt, Webpack</li>
	                          <li>Ruby</li>
	                          <li>PHP</li>
	                      </ul>
                    	</div>
                    	<div class="col-lg-6">
	                      <ul>
	                      		<li>Node.js</li>
	                      		<li>Meteor (MEAN)</li>
	                          <li>React &amp; Angular</li>
	                          <li>Flux / Redux</li>
	                          <li>Firebase</li>
	                          <li>MySQL / NoSQL</li>
	                      </ul>
                    	</div>
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                	<p>Need a 1-man-show, or a valuable team player?</p>

                  <a href="#" class="btn btn-lg btn-outline">
                      <i class="fa fa-download" href="./andrew-appleby-resume2016.pdf"></i>&nbsp;&nbsp;Grab My Resumé
                  </a>
                </div>
            </div>
        </div>
    </section>